/*This is how you do a comment in css, its easy to learn*/
/*This is setting all the h1 emements to be the color blue and have wavy fancy text.*/
h1{
    color:blue; 
    text-decoration: wavy;
    font-family: 'Bungee Spice', sans-serif;
    font-size: 40px;
}
/*This is for the container we made where it changes the artical to be in the middle */
#cotainer{
    width: 1000px;
    height: 800px;
    border: 2px solid red;
    background-color: darkgrey;
}
body,html{
    display: flex;
    justify-content: center;
    background-color: gray;

}
#nav{
    text-align: center;
    border: 1px solid rgb(0, 60, 255);
}
.nav-list{
    list-style: none;
    display: inline;
    text-align: center;
    padding: 15px;
}
/*This is the header and its based on a id what is why it has the #*/
#header{
    border: 2px solid red;
    text-align: center;
}
#Content{
    border: 1px solid rgb(0, 38, 255);
    height: 643px;
}
#footer{
    border: 1px solid rgb(255, 0, 0);
    text-align: center;
    background-color: rgb(161, 161, 161);
}
/*This is part of the text for the paragraph, its based on a class and its on the .*/
.Section-text{
    width: 750px;
    /*This is moving the text and the image to the left using the float*/
    float: left;
    padding-left: 20px;
}
img{
    float: left;
}

#Section-header{
    padding-left: 20px;
}
.gallary{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid red;
}
#contact-form{
    margin:auto
}